.metatags {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  border-radius: 4px;
}

.metatags h3 {
  text-align: center;
  margin-bottom: 20px;
}

.metatags .metas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  gap: 10px;
  flex-wrap: wrap;
}

.metatags .metas h4 {
  background-color: #218838;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
